@page "/"

<h1>Catálago de Prdoutos</h1>

<hr />

<h2>Humberto Marcone</h2>

@*<AuthorizeView>
    <Authorized>
        <h2>
            Olá, @context.User.Identity.Name!
            <br />
            @if (context.User.IsInRole("Admin"))
            {
                <text>Usuário Admin</text>
            }
        </h2>
    </Authorized>
    <NotAuthorized>
        <h2>
            Usuário não autorizado
        </h2>
    </NotAuthorized>
</AuthorizeView>*@

@code{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"Bem-vindo {user.Identity.Name}");
            if (user.IsInRole("Admin"))
            {
                Console.WriteLine("Você faz parte do perfil Admin!");
            }
        }
        else
        {
            Console.WriteLine("Usuário não autenticado!");
        }
    }
}